<body>
  <div id="wrapper">
    <div id="page-wrapper" style="margin:0px;">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">Registro de usuarios</h1>
          </div>
      </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div>
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Llena el siguente formulario,</strong>
                        <span>los campos con el * son abligatorios.</span></h3>
                    </div>
                    <div class="panel-body">
                      <div class="row">
                          <div class="form-group">
                            <div class="form-line">
                              <label class="form-label">Nombre*</label>
                              <input id="nombreForm" class="form-control" placeholder="nombre" type="text" required autofocus>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-line">
                              <label class="form-label">Segundo nombre</label>
                              <input id="nombre2From" class="form-control" placeholder="Segundo nombre" name="nombre2Form" type="text">
                            </div>
                          </div>
                          <div class="form-group">
                              <div class="form-line">
                                <label class="form-label">Apellido*</label>
                                  <input id="apellidoForm" type="text" class="form-control" placeholder="Apellido" maxlength="45" name="nombre" required>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="form-line">
                                <label class="form-label">Segundo apellido</label>
                                  <input id="apellido2Form" type="text" class="form-control" placeholder="Segundo apellido" name="apellido2Form">
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="form-line">
                                <label class="form-label">Correo*</label>
                                  <input id="correoForm" type="email" class="form-control" placeholder="correo@ejemplo.com" name="correoForm" required>
                              </div>
                          </div>
                          <div class="col-md-6 form-group">
                              <div class="form-line">
                                <label class="form-label">Contraseña*</label>
                                  <input id="passwordForm" type="password" class="form-control" placeholder="Contraseña" name="password" required>
                              </div>
                          </div>
                          <div class="col-md-6 form-group">
                              <div class="form-line">
                                <label class="form-label">Repite la contraseña*</label>
                                  <input id="password2Form" type="password" class="form-control" placeholder="Contraseña" name="password2" required>
                              </div>
                          </div>
                        </div>
                        <div class="row">
                          <div>
                            <button id="btn-registro" class="btn btn-lg btn-success btn-block" type="button" name="button">Registrarse</button>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
  <input type="hidden" name="_csrf" id="_csrf" value="{{csrfToken}}">
</body>
<script>var csrfToken = $('#_csrf').val();</script>
<script type="text/javascript" src="js/registroUsuarios.js"></script>
