<body>
  <div id="wrapper">
      <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
              <a id="crear" href="#" class="navbar-brand">Crear nueva tarea</a>
          </div>
          <ul class="nav navbar-top-links navbar-right">
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-user">
                      <li><a id="cerrarSesion" href="#"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a>
                      </li>
                  </ul>
              </li>
          </ul>
      </nav>

      <div id="page-wrapper" style="margin-left:0px;">
          <div class="row">
              <div class="col-lg-8">
                  <h1 class="page-header">Tareas</h1>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-12">
                  <div class="panel panel-default">
                      <!-- <div class="panel-heading">
                        Título de tabla
                      </div> -->
                      <div class="panel-body">
                          <table id="tareasDatatable" width="100%" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Prioridad</th>
                                    <th>Nombre</th>
                                    <th>Vencimiento</th>
                                    <th>Operaciones</th>
                                </tr>
                            </thead>

                              <!-- Contenido de la datatable -->
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>
  <div class="modal fade" id="formularioModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
          <div class="modal-dialog modal-md" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title" id="tituloFormulario">Editar</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group form-float">
                        <div class="form-line">
                          <label class="form-label">Nombre de la tarea</label>
                            <input id="nombre" type="text" class="form-control" maxlength="45" name="nombre" required>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                          <label class="form-label">Prioridad</label>
                            <input id="prioridad" type="number" class="form-control" name="prioridad" required>
                        </div>
                    </div>
                    <div class="form-group form-float">
                        <div class="form-line">
                          <label class="form-label">Vencimiento</label>
                            <input id="vencimiento" type="datetime-local" class="form-control" name="vencimiento" required>
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                      <button id="btnGuardarEditar"class="botonModal">Guardar</button>
                      <button type="button" class="botonModal" data-dismiss="modal">Cancelar</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="modal fade" id="formularioModalCrear" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog modal-md" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h4 class="modal-title" id="tituloFormulario">Crear</h4>
                      </div>
                      <div class="modal-body">
                        <div class="form-group form-float">
                            <div class="form-line">
                              <label class="form-label">Nombre de la tarea</label>
                                <input id="nombreCrear" type="text" class="form-control" maxlength="45" name="nombre" required>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                              <label class="form-label">Prioridad</label>
                                <input id="prioridadCrear" type="number" class="form-control" name="prioridad" required>
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <div class="form-line">
                              <label class="form-label">Vencimiento</label>
                                <input id="vencimientoCrear" type="datetime-local" class="form-control" name="vencimiento" required>
                            </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                          <button id="btnGuardarCrear"class="botonModal">Guardar</button>
                          <button type="button" class="botonModal" data-dismiss="modal">Cancelar</button>
                      </div>
                  </div>
              </div>
          </div>
      <input type="hidden" name="_csrf" id="_csrf" value="{{csrfToken}}">
</body>
<script>var csrfToken = $('#_csrf').val();</script>
<script type="text/javascript" src="js/inicio.js"></script>
